body{
    background: linear-gradient(to right, #cc6600 -22%, #000099 103%);
}


img{
	border-radius: 10px;
	border: solid black 3px;
}

@font-face {
    font-family: 'exo_2black_condensed';
    src: url('../fonts/exo2-blackcondensed-webfont.woff2') format('woff2'),
         url('../fonts/exo2-blackcondensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


h1{
    font-family: 'exo_2black_condensed';
}

